:root {
  --darkgrey: #222831;
  --grey: #393e46;
  --blue: #00adb5;
  --lightgrey: #d3d7e3;
  --textcolor: #d3d7e3;
}
.left-login,
.right-login {
  box-shadow: rgba(0, 173, 181, 0.5) 0px 10px 0px 0px;
}
.login-button {
  border-radius: 10px;
  border: 0;
  background-color: var(--lightgrey);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 173, 181, 1) 0px 10px 0px 0px;
  color: var(--grey);
  margin-top: 10px;
  margin-bottom: 15px;
}
.login form input {
  transition: all 0.3s ease-in-out;
}
.login form input:hover {
  box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
}

.login-button:hover {
  box-shadow: rgba(0, 173, 181, 1) 0px 7px 0px 0px;
}

.login-button:active {
  background-color: rgba(0, 173, 181, 1);
  /*50, 168, 80*/
  box-shadow: rgba(0, 173, 181, 1) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
.left-reg input {
  transition: all 0.3s ease-in-out;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn::after {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}
