@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 5%; /* Adjust padding for smaller screens */
  background-color: #222831; /* Add your desired background color */
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links li {
  margin-right: 15px;
  padding: 0 20px; /* Adjust padding for smaller screens */
  display: inline-block;
  font-size: 17px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--primary-color);
}

.mod_nv_button {
  background-color: var(--primary-color);
  padding: 9px 20px; 
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: var(--primary-color);
}

.nav_links .icon {
  display: none;
}

.mod_nv_sidebar_icon{
  display: none;
  margin: 0;
  padding: 0;
}




hr {
  width: 1000%; 
  margin: 10px 0; 
  border: 0;
  border-top: 1px solid #586776; /* Adjust color as needed */
}

@media screen and (max-width: 810px) {
  .nav_links {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #222831;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 20em;
    align-items: center;
    
  }
  .nav_links li {
    margin-bottom: 30%;
    padding: 0 20px; 
    font-size: 17px;
    text-align: center;
  }
  .mod_nv_sidebar_icon{
    display: contents;
    position: absolute;
    width: auto;
    cursor: pointer;
  }  
  .nav_links.responsive{
    list-style: none;
    display: flex;
    flex-direction: column;
    display: block;
  }
  button{
    display: none;
  }
  .nav_links li {
    margin-right: 15px;
    padding: 0 20px; 
    display: block;
    font-size: 17px;
  }
  
}
