* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--textcolor);
}
:root {
  --darkgrey: #222831;
  --grey: #393e46;
  --blue: #00adb5;
  --lightgrey: #d3d7e3;
  --textcolor: #d3d7e3;
}
.navbar {
  display: flex;
  height: 70px;
  width: 100vw;
  background-color: var(--grey);
}
/* .logo-igl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  margin-left: 50px;
  cursor: pointer;
  position: relative;
  width: 60vw;
} */
.logo-easy {
  height: 50px;
}
.logo-nom {
  width: 150px;
  padding: 10px;
}
/* .pages {
  display: flex;
  height: 70px;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
} */

.pages ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}
.active {
  color: var(--blue);
  text-decoration: underline;
}
.pages a,
.pages li {
  text-decoration: none;
  color: var(--textcolor);
  font-size: 17px;
}
.pages a:hover {
  color: var(--blue);
}

.navbar a.active {
  color: var(--blue);
  text-decoration: underline;
}

.respo,
.respo-list {
  display: none;
}
@media only screen and (max-width: 768px) {
  .pages {
    display: none;
  }

  .respo {
    display: flex;
    width: 100px;
    position: relative;
    z-index: 99999;
  }

  .hamburger {
    height: 30px;
    width: fit-content;
  }

  .logo-nom {
    margin-left: 0;
  }
  .respo-list {
    position: fixed;
    order: 2;
    z-index: 100;
    top: 5rem;
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: flex-end;
  }
  .respo-listL {
    position: fixed;
    order: 2;
    z-index: 100;
    top: 1rem;
    width: 100%;
  }
  .respo-list a {
    text-decoration: none;
  }
  .respo-list2 {
    padding-left: 30px;
    background-color: #393e46;
    list-style: none;
    height: 350px;
    width: 250px;
    border-radius: 25px;
    display: block;
    gap: 50px;
    z-index: 9000;
  }
  .respo-list a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    margin: 20px;
    color: var(--textcolor);
  }
  .respo-list2 ul {
    list-style: none;
  }
  .nom-user p {
    margin-bottom: 10px;
  }
  .nom-user {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    font-size: 20px;
  }

  .x {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
  }
  .x button,
  .respo button {
    background-color: transparent;
    border: none;
  }
  .x button {
    background-color: transparent;
  }
  .x button:hover,
  .respo button:hover {
    cursor: pointer;
  }
  .xx {
    height: 25px;
  }
  .icon-x {
    height: 50px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
