.bar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
}
.bar-search input {
  background-color: transparent;
  width: fit-content;
  padding: 15px 50px;
  border-radius: 30px;
  border-color: white;
  box-sizing: border-box;
  position: relative;
  width: 600px;

  z-index: 1;
}
.bar-search input[type="search"] {
  box-sizing: border-box;
  width: 600px;
  text-align: center;
  color: var(--textcolor);
}

.search-icon {
  z-index: 2;
  width: 600px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 38vw;
  transform: translateX(-40px);
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .bar-search input[type="search"] {
    background-color: transparent;
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    color: var(--textcolor);
  }
  .search-icon {
    width: 400px;
    margin-left: 120px;
  }
}
