@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --green-color: #00ADB5;
    --grey-color: #393E46;
    --black-color: #222831;
    --white-starts-with-D-color: #D3D7E3;
    --white-starts-with-E-color: #EEEEEE;
  }